/* Body Styles */
body {
  margin: 0px;
  overscroll-behavior: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* Nav Bar Styles */
.topnav {
  position: fixed;
  top:0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  z-index: 4;
}

.topnav h1, h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 96px;
}

.topnav img:active{
  background-color: #444;
}

.buttonImg {
  float: right;
  padding: 15px;
}

/* Route div Styles */
.route {
  background: #f00;
  overflow: auto;
  border-radius: 24px;
  margin: 16px;
}

.route:active {
  background-color: #a00;
}

h3, h4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

h5 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  color: #fff;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 48px;
}

/* View Route Styles */
.viewcanvas {
  display: block;
  z-index: 1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.pullup {
  border-radius: 24px 24px 0px 0px;
  margin: auto;
  width: 150px;
  height: 65px;
  background: #f00;
  z-index: 2;
  position: relative;
  margin-top: -63px;
}

.inroute {
  background: #f00;
  z-index: 3;
  margin-top: -10px;
}

.bottom {
  margin-top: -2px;
  width: 100%;
  background: #f00;
}

/* New route styles */
input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 64px;
}

.submit {
  background-color: #fff;
}

/* Terms styles */

.terms {
  color: #000;
  text-align: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
}

p.terms {
  font-size: 28px;
}

.spacer {
  height: 140px;
}

a {
  text-align: center;
  color: #006;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 36px;
}
